{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
    <h2>Task List</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></td>
            <td>{{ task.description }}</td>
            <td>{{ task.completed }}</td>
            <td>
                <a href="{% url 'task_edit' task.pk %}">Edit</a> | 
                <a href="{% url 'task_delete' task.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'task_create' %}" class="btn btn-primary">Create New Task</a>
{% endblock %}
